body{
    background-color: lightblue;

    }
 a { 
    color: inherit; 
    text-decoration: none;
    } 
ul{
    list-style-type: none;

    }
.container{
    width: 100%;
    }
/* product styles */
.products{
    display: inline-block;
    vertical-align: top;

    text-align: center; 
    width: 30%;
    border:3px, black, solid;
    margin-right:3px; 

    }
/*delete styles  */
#delete{
    margin-left: 250px;
}
#buttons{
    margin-left: 300px;
}
#delete_button{
    margin-right:15px;
}