h1{
    color: red;
    text-align: center;
    background: black;


}
body{
    background-color: lightblue;

}
.container{
    display: inline-block;
    width:30%;
}
.products{
    display: inline-block;
    width: 30%;
    border:1px, solid,black;
}
h5{
    color:red;
}