{% extends 'base.html' %}
{% block content %}
<div class= "container">
  {% if form.errors %}
    <p>Your username and password didn't match. Please try again.</p>
  {% endif %}

  {% if next %}
    {% if user.is_authenticated %}
      <p>Your account doesn't have access to this page. To proceed,
      please login with an account that has access.</p>
    {% else %}
      <p>Please login to see this page.</p>
    {% endif %}
  {% endif %}
</div>
<div id=login_div>
  <form id="login_form" method="post" action="{% url 'login' %}">
    {% csrf_token %}
    <table class="fill_in">
      <tr class="fill_in">
        <td>{{ form.username.label_tag }}</td>
        <td>{{ form.username }}</td>
      </tr>
      <tr class="fill_in">
        <td>{{ form.password.label_tag }}</td>
        <td>{{ form.password }}</td>
      </tr>
      <input id= "login_button"class=" btn-primary"type="submit" value="login" />

    </table>
    <input type="hidden" name="next" value="{{ next }}" />
  </form>
</div>
{% endblock %}